body{
    background-image: url("images/pizzabg.jpg");
    background-size: contain;
    b
    background-repeat: no-repeat;
    height: 90vh;
    width: 98%;
}


form{
height: 70vh;
padding: 10% 20% 20% 30%;
}

#select{
    height: 5vh;
    width: 100%;
    font-size: 1em;
    margin: 2%;
}
#myNavbar{
    color: white;
}
#Home{
    color:white;
}