body{
    background-image: url("images/pizzabg.jpg");
    background-size: contain;
    background-size: 100% 150vh;
    background-repeat: no-repeat;
    height: auto;
    width: 98%;
}


form{
height: vh;
padding: 1% 10% 20% 30%;
}

#type,
#size,
#crust{
    height: 5vh;
    width: 100%;
    font-size: 1em;
    margin: 2%;
}
#myNavbar{
    color: white;
}
#Home{
    color:white;
}