body{
    background-image: url("images/dark2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:fit-content;
    color: white;
}
.underline{
    text-decoration:  underline rgb(240, 8, 8);
    text-decoration-thickness:6px;
    text-underline-offset: 16px;
}

